body {
  margin: 0;
  padding: 0;
  background-color: #999;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  color: orange;
  font-size: 6.8rem;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-size: 4.0rem;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
}

h3 {
  font-size: 2.4rem;
  font-family: 'Josefin Slab', serif;
}

h4 {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  font-family: 'Josefin Slab', serif;
}

p {
  font-weight: 300;
  font-size: 1.8rem;

}

.row {
  margin: 0;
}

.section, .header, .footer, .certificates, .languages-and-interests, .projects {
  padding: 2.5rem 0;
}

.name {
  color: orange;
}

.profile-image {
  height: 200px;
}

.header, .footer {
  background-color: #333;
  color: #eee;
}

.header-buttons {
  padding-top: 25px;
}

button, a .btn {
  text-transform: uppercase;
}

.certificates {
  padding: 25px 0;
  background-color: #98C6E4;
}

.progress {
  height: 3rem;
  margin-bottom: 2rem;
  border-radius: 3rem
}

.progress-bar {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 3rem;
}

.languages-and-interests {
  background-color: #333;
  text-align: center;
  color: #eee
}

.languages-and-interests img {
  height: 10.5rem;
}
.languages-and-interests .vert-pad {
  padding: 1.2rem 0;
}

.projects {
  background-color: #eee;
  text-align: center;
}

.label {
  margin: 0 2px;
  font-size: 11px;
}

.btn-toolbar .btn {
  float: none;
}
