body {
  margin: 0;
  padding: 0;
  background-color: #999;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  color: orange;
  font-size: 6.8rem;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-size: 4.0rem;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
}

h3 {
  font-size: 2.4rem;
  font-family: 'Josefin Slab', serif;
}

h4 {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  font-family: 'Josefin Slab', serif;
}

p {
  font-weight: 300;
  font-size: 1.8rem;

}

.row {
  margin: 0;
}

.section {
  padding: 4.5rem 0;
}

.name {
  color: orange;
}

.profile-image {
  height: 200px;
}

.header, .footer {
  background-color: #333;
  color: #eee;
}

.header-buttons {
  padding-top: 25px;
}

button, a .btn {
  text-transform: uppercase;
}

.tags {
  display: inline-block;
}

.calculator {
  background-color: #eee;
}

.calculator-info .btn {
  margin: 15px 0
}

.calculator-app .btn {
	font-size: 18px;
}

.calculator-app .btn:focus{
  outline: none;
}

.calculator-buttons {
	padding: 0;
}

.calculator-display {
  padding: 0 30px;
}

@media (max-width: 480px) {
  .calculator-display {
    padding: 0 15px;
  }
	.calculator-column {
		padding: 0 5px;
	}
	.btn-block+.btn-block {
    margin-top: 15px;
	}
}

.certificates {
  background-color: #98C6E4;
}

.progress {
  height: 3rem;
  margin-bottom: 2rem;
  border-radius: 3rem
}

.progress-bar {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 3rem;
}

.languages-and-interests {
  background-color: #333;
  text-align: center;
  color: #eee
}

.languages-and-interests img {
  height: 10.5rem;
}
.languages-and-interests .vert-pad {
  padding: 1.2rem 0;
}

.projects {
  background-color: #eee;
  text-align: center;
}

.label {
  margin: 0 2px;
}

.btn-toolbar .btn {
  float: none;
}
